{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <h1 align="center">Sign Up</h1>
  <div class="alert alert-warning" id="error_block">
    <i class="glyphicon glyphicon-exclamation-sign"></i> <span id="error_message"></span>
  </div>
  <form name="sign_up" id="sign_up_form" method="post" action="/user/create" class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-md-2" for="email">Email Address</label>
      <div class="col-md-10">
        <input type="text" name="email" id="email" class="form-control" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="password">Password</label>
      <div class="col-md-10">
        <input type="password" name="password" id="password" class="form-control" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="password">Confirm Password</label>
      <div class="col-md-10">
        <input type="password" name="confirm" id="confirm" class="form-control" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="button" id="sign_up" value="Sign Up" class="btn btn-lg btn-success">
        <br><br>
        <a href="/user/sign_in" title="Sign In">Already Have An Account? Sign In</a>
      </div>
  </form>
  <script type="text/javascript">
  $(function(){
    var eb = $("#error_block");
    eb.hide();
    
    function valid_email(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
    
    function show_error(message){
      eb.show();
      $("#error_message").html(message);
    }
    
    $("#sign_up").click(function(){
      var email = $("#email").val();
      if(email == ""){
        show_error("No email address provided.");
        return false;
      }
      if(!valid_email(email)){
        show_error("Invalid email address provided.");
        return false;
      }
      
      var pass = $("#password").val();
      var conf = $("#confirm").val();
      if(pass == ""){
        show_error("You must apply a password.");
        return false;
      }
      
      if(pass.length < 6){
        show_error("Insufficient password strength. Password must be at least 6 characters!");
        return false;
      }
      
      if(pass !== conf){
        show_error("Passwords do not match.");
        return false;
      } else {
        eb.hide();
        form = $("#sign_up_form");
        form.get(0).submit();
      }
    });
  });
  </script>
</div>
{% endblock %}